/* From Uiverse.io by PriyanshuGupta28 */
.custom-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, grey 92%, grey);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  animation: s8 1s infinite;
  position: relative;
}

.custom-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(grey 0 35deg, grey 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, grey calc(100% - 3px), grey 0);
  border-radius: 50%;
}

@keyframes s8 {
  100% {
    transform: rotate(0.5turn);
  }
}
